/* 
Table of contents
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/*
Colors
- Black #222222
- Dark Gray #222c33
- Gray #4a5861
- Mid Gray #8a9fae
- Light Gray #ececec
- White #f5f5f5
- Blue 1 #4a66d4
- Blue 2 #3da2f5
*/


/* Grid */

.full-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}


/* For devices larger than 400px */

@media (min-width: 400px) {
  .container {
    width: 95%;
    padding: 0;
  }
  .full-container {
    padding: 0 0px;
    max-width: 1080px;
  }
}


/* For devices larger than 550px */

@media (min-width: 650px) {
  .container {
    width: 95%;
  }
  .column {
    margin-left: 0;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74.0%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 33.3333333333%;
  }
  .two-thirds.column {
    width: 66.6666666666%;
    margin-left: 0;
  }
  .one-half.column {
    width: 48%;
  }
  .one-half.columns {
    width: 50%;
    margin-left: 0;
  }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}


/* Base Styles */


/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.75em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", Roboto, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222c33;
}


/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #222c33;
}

h1 {
  font-size: 4.0rem;
  letter-spacing: 0;
}

h2 {
  font-size: 3.5rem;
  letter-spacing: 0;
}

h3 {
  font-size: 3.0rem;
  letter-spacing: 0;
}

h4 {
  font-size: 2.5rem;
  letter-spacing: 0;
}

h5 {
  font-size: 2.0rem;
  letter-spacing: 0;
}

h6 {
  font-size: 1.75rem;
  letter-spacing: 0;
}


/* Larger than phablet */

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.0rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  h6 {
    font-size: 2.0rem;
  }
}

p {
  margin-top: 0;
}


/* Links */

a {
  color: #3da2f5;
}

a:visited {
  color: #4a66d4;
}


/* Buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 45px;
  padding: 0 2rem;
  color: #4a5861;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border: none;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom right, #ececec, #f5f5f5);
  border-radius: .25rem;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #ececec;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, .3);
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #f5f5f5;
  background-color: #8a9fae;
  background-image: linear-gradient(to bottom right, #8a9fae, #4a5861);
}

.button.button-hidden,
button.button-hidden,
input[type="submit"].button-hidden,
input[type="reset"].button-hidden,
input[type="button"].button-hidden {
  color: #4a5861;
  background: none;
}

.button.button-icon,
button.button-icon,
input[type="submit"].button-icon,
input[type="reset"].button-icon,
input[type="button"].button-icon {
  color: #f5f5f5;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
}
.button.button-icon-colorless,
button.button-icon-colorless,
input[type="submit"].button-icon-colorless,
input[type="reset"].button-icon-colorless,
input[type="button"].button-icon-colorless {
  color: #f5f5f5;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
}

.button.button-color,
button.button-color,
input[type="submit"].button-color,
input[type="reset"].button-color,
input[type="button"].button-color {
  color: #f5f5f5;
  background-color: #3da2f5;
  background-image: linear-gradient(to bottom right, #3da2f5, #4a66d4);
}

.button.button-hidden:hover,
button.button-hidden:hover,
input[type="submit"].button-hidden:hover,
input[type="reset"].button-hidden:hover,
input[type="button"].button-hidden:hover {
  color: #4a5861;
  background: none;
  box-shadow: none;
}

.button.button-icon:hover,
button.button-icon:hover,
input[type="submit"].button-icon:hover,
input[type="reset"].button-icon:hover,
input[type="button"].button-icon:hover {
  background-color: rgba(34, 44, 51, .4);
  box-shadow: none;
  padding: 2rem;
  border-radius: 6rem;
}
.button.button-icon-colorless:hover,
button.button-icon-colorless:hover,
input[type="submit"].button-icon-colorless:hover,
input[type="reset"].button-icon-colorless:hover,
input[type="button"].button-icon-colorless:hover {
  background-color: rgba(34, 44, 51, 0);
  box-shadow: none;
  padding: 2rem;
  border-radius: 6rem;
}


/* Forms */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  color: #4a5861;
  height: 40px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #f5f5f5;
  border: none;
  border-radius: .25rem;
  box-shadow: none;
  box-sizing: border-box;
}


/* Removes awkward default styles on some inputs for iOS */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: none;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 500;
  color: #222c33;
}

caption {
  opacity: .5;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label>.label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}


/* Lists */

ul {
  list-style: square inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 1.5rem;
}

li {
  margin-bottom: 1rem;
}


/* Code */

code {
  font-family: Roboto Mono, Menlo, Monaco, monospace;
  padding: .25rem .5rem;
  margin: 0 .2rem;
  font-size: 75%;
  white-space: nowrap;
  background: #f5f5f5;
  color: #4a5861;
  border: none;
  border-radius: .5rem;
}

pre>code {
  overflow-x: auto;
  text-overflow: clip;
  display: block;
  padding: 1.0rem 1.5rem;
  white-space: pre;
}

@media (min-width: 550px) {
  code {
    font-size: 80%;
  }
}


/* Tables */

th,
td {
  font-size: 1.4rem;
  padding: 12px 5px;
  text-align: left;
  border-bottom: 1px solid #8a9fae;
  font-weight: 400;
}

th {
  font-weight: 500;
  color: #4a5861;
}

@media (min-width: 550px) {
  th,
  td {
    font-size: 1.6rem;
    padding: 12px 10px;
  }
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}


/* Spacing */

button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}


/* Utilities */

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}


/* Misc */

hr {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 3px solid #8a9fae;
}

.color-bg-white {
  background-color: #f5f5f5 !important;
  background-image: linear-gradient(to bottom right, #ececec, #f5f5f5) !important;
}

.color-bg-gray {
  background-color: #8a9fae !important;
  background-image: linear-gradient(to bottom right, #8a9fae, #4a5861) !important;
}

.color-bg-blue {
  background-color: #3da2f5 !important;
  background-image: linear-gradient(to bottom right, #3da2f5, #4a66d4) !important;
}

.color-white {
  color: #f5f5f5 !important;
}

.color-gray {
  color: #8a9fae !important;
}

.color-dark-gray {
  color: #4a5861 !important;
}

.color-blue {
  color: #3da2f5 !important;
}

.hover:hover {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, .2);
}

.large-hover:hover {
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, .25)
}

.color-blue-gradient {
  color: inherit;
  background-color: inherit;
}

.color-splash {
  background-color: #1976d2 !important;
  color: white !important;
}

.color-splash:hover {
  background-color: #176bbf !important;
}

.color-text {
  color: #1976d2 !important;
}


/* Clearing */


/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
