.background {
  position: absolute;
  height: 600px;
  width: 100%;
  background-color: #4a5861;
  background: #4a5861;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #71899A, #4a5861);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #8a9fae, #4a5861);
  /* For Opera 11.1 to 12.0 */
  background: -main-biomoz-linear-gradient(bottom right, #8a9fae, #4a5861);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(bottom right, #8a9fae, #4a5861);
  /* Standard syntax */
}

@media (min-height: 600px) {
  .background {
    height: 700px;
  }
}

.menu {
  height: 518px;
  width: 100%;
  position: fixed;
  /*Overflow keeps the expanding circle in*/
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
  /*  box-shadow: 0 0 40px 0px rgba(0,0,0,.4);*/
}


/*For devices larger than a phone*/

@media (min-width: 550px) {
  .menu {
    width: 360px;
  }
}

.intro {
  height: 100%;
}

.nav-container {
  width: inherit;
  height: 478px;
}

.nav-faux-menu {
  position: absolute;
  height: 75px;
  background-color: #222c33;
  z-index: 1;
}

.nav-button {
  display: block;
  position: absolute;
  /*To Change*/
  margin-left: 7.5%;
  margin-top: 17.5px;
  height: 38px;
  /*Slightly smaller size so you don't get a weird halo effect from being behind the nav-button*/
  width: 38px;
  border-radius: 38px;
  z-index: 7;
  background-image: url(../images/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: all;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.nav-main {
  /*150 and 150*/
  margin-top: 0;
  margin-left: 0;
  /*640 x 640*/
  height: 0px;
  overflow: hidden;
  width: 0px;
  pointer-events: all;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  border: none;
  z-index: 2;
}

.menu-image {
  position: absolute;
  height: 240px;
  width: inherit;
  background-image: url(../images/americanFlag.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-origin: border-box;
  z-index: 5;
  overflow: hidden;
}

.menu-content {
  position: fixed;
  margin-top: 240px;
  height: 178px;
  width: inherit;
}

.menu-list {
  list-style: none;
  padding-top: 10px;
  margin-top: 0;
}

.menu-link {
  list-style: none;
  height: 45px;
  padding-top: 0px;
  padding-left: 20px;
  margin-bottom: 5px;
}

.menu-link:hover {
  background-color: #f4f4f4;
}

.menu-link a {
  font-weight: 500;
  font-size: 2.0rem;
  line-height: 45px;
  color: black;
  text-decoration: none !important;
  display: inline-block;
}

.list-image {
  height: 24px;
  width: 24px;
  line-height: 45px;
  margin-bottom: -3px;
  margin-right: 5px;
  background-image: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.menu-info {
  background-color: #eaeaea;
  height: 50px;
  width: inherit;
  margin-top: 468px;
  margin-left: 0;
}

.menu-info span {
  color: #222c33;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  padding-left: 20px;
}

input[type=checkbox] {
  display: none;
  pointer-events: all;
}

.nav-main-container {
  background-color: white;
  opacity: 0;
  height: 478px;
  width: inherit;
  pointer-events: all;
  z-index: 5;
  position: absolute;
  display: none;
  overflow: hidden;
}

.intro {
  height: 100%;
}

.intro-image {
  position: absolute;
  background-image: url(../images/personal-image.svg);
  background-position: bottom left;
  background-size: 85%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  max-width: 400px;
  z-index: 0;
  margin-left: 0;
}

@media (min-width: 850px) {
  .intro-image {
    width: 100%;
    display: inline-block;
    float: left;
  }
}

@media (min-width: 550px) {
  .intro-image {
    background-size: 100%;
  }
}

.intro-bio-container {
  position: absolute;
  padding-right: 2.5%;
  padding-left: 7.5%;
  z-index: 1;
  height: 100%;
  max-width: 1400px;
  color: white;
  top: 0;
}

@media (min-width: 850px) {
  .intro-bio-container {
    position: relative;
    width: 60%;
    display: inline-block;
    float: right;
    padding-left: 10%;
  }
}

@media (min-width: 550px) {
  .intro-bio-container {
    margin-left: 0;
    position: relative;
    padding-left: 2.5%;
  }
}

.bio-intro {
  padding-top: 150px;
  color: white;
}

@media (min-height: 600px) {
  .bio-intro {
    padding-top: 250px;
    top: 0;
  }
}

.bio-desc {
  font-size: 2.5rem;
  font-weight: 400;
  padding-right: 2.5%;
  max-width: 650px;
  color: #ececec;
}

.main-bio-desc a {
  color: white;
}

.main-bio-desc a:hover {
  color: #3da2f5;
}

.intro-cover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

@media (min-width: 850px) {
  .intro-cover {
    background-color: rgba(0, 0, 0, 0);
  }
}


/*HTML Tag link trick that makes the nav open*/

input[type=checkbox]:checked~.nav-main {
  /*Animation*/
  background-color: white;
  animation-name: circle-expansion;
  animation-timing-function: cubic-bezier(.62, .28, .23, .99) 1.2s;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  -webkit-animation-name: circle-expansion;
  -webkit-animation-timing-function: cubic-bezier(.62, .28, .23, .99) 1.2s;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: circle-expansion;
  -moz-animation-timing-function: cubic-bezier(.62, .28, .23, .99) 1.2s;
  -moz-animation-duration: 1.2s;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: circle-expansion;
  -o-animation-timing-function: cubic-bezier(.62, .28, .23, .99) 1.2s;
  -o-animation-duration: 1.2s;
  -o-animation-fill-mode: forwards;
  pointer-events: all;
}

@keyframes circle-expansion {
  from {
    margin-left: 0;
    margin-top: 0;
    height: 0px;
    /*40px*/
    width: 0px;
    /*40px*/
    border-radius: 0px;
    /*40px*/
    z-index: 6;
    background-image: none;
  }
  to {
    margin-left: -150px;
    margin-top: -150px;
    height: 800px;
    /*40px*/
    width: 800px;
    /*40px*/
    border-radius: 640px;
    /*40px*/
    z-index: 5;
    background-image: none;
  }
}

@-webkit-keyframes circle-expansion {
  from {
    margin-left: 0;
    margin-top: 0;
    height: 0px;
    /*40px*/
    width: 0px;
    /*40px*/
    border-radius: 0px;
    /*40px*/
    z-index: 5;
    background-image: none;
  }
  to {
    margin-left: -150px;
    margin-top: -150px;
    height: 800px;
    /*40px*/
    width: 800px;
    /*40px*/
    border-radius: 640px;
    /*40px*/
    z-index: 5;
    background-image: none;
  }
}

@-moz-keyframes circle-expansion {
  from {
    margin-left: 0;
    margin-top: 0;
    height: 0px;
    /*40px*/
    width: 0px;
    /*40px*/
    border-radius: 0px;
    /*40px*/
    z-index: 5;
    background-image: none;
  }
  to {
    margin-left: -150px;
    margin-top: -150px;
    height: 800px;
    /*40px*/
    width: 800px;
    /*40px*/
    border-radius: 640px;
    /*40px*/
    z-index: 5;
    background-image: none;
  }
}

@-o-keyframes circle-expansion {
  from {
    margin-left: 0;
    margin-top: 0;
    height: 0px;
    /*40px*/
    width: 0px;
    /*40px*/
    border-radius: 0px;
    /*40px*/
    z-index: 5;
    background-image: none;
  }
  to {
    margin-left: -150px;
    margin-top: -150px;
    height: 800px;
    /*40px*/
    width: 800px;
    /*40px*/
    border-radius: 640px;
    /*40px*/
    z-index: 5;
    background-image: none;
  }
}

input[type=checkbox]:checked~.nav-main-container {
  overflow: visible;
  display: block;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, .4);
  /*Animation*/
  animation-name: show-content;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  -webkit-animation-name: show-content;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: show-content;
  -moz-animation-duration: 1.3s;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: show-content;
  -o-animation-duration: 1.3s;
  -o-animation-fill-mode: forwards;
}

@keyframes show-content {
  0% {
    margin-top: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show-content {
  0% {
    margin-top: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes show-content {
  0% {
    margin-top: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes show-content {
  0% {
    margin-top: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[type=checkbox]:checked~.nav-button {
  background-image: url(../images/close-menu.svg);
}

.main-container {
  position: relative;
  z-index: 15;
  height: 100%;
  background: none;
}

.section-title {
  color: #4a5861;
  font-weight: 500;
  padding-bottom: 0;
  margin: 0;
}

.section-divider {
  margin-top: 0;
  margin-top: 15px;
  width: 100px;
  float: left;
  margin-bottom: 50px;
}

.feature-box {
  height: 300px;
  background-color: #ececec;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.feature-box:hover {
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, .4);
  z-index: 5;
}

.feature-title {
  position: absolute;
  line-height: 2.0rem;
  color: white;
  text-decoration: none !important;
  margin-bottom: 0;
  max-width: 85%;
}

#feature-project-1 {
  background-color: rgba(0,0,0,.1);
  background-image: url(../images/slc-crime-heatmap-color-blank.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.feature-box-cover {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: rgba(0,0,0,.3);
  position: absolute;
  top: 0;
  z-index: 0;
  margin-left: -50px;
}
@media (min-width: 650px) {
  .feature-box-cover {
    background-color: rgba(0,0,0,0.05);
  }
}

.feature-contents {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding-top: 60px;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-right: 50px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

@media (min-width: 650px) {
  .feature-contents {
    height: 350px;
  }
  .feature-box {
    height: 350px;
  }
}

#feature-project-cover-1 {
  background-color: #00a4b5;
}

.feature-desc-container {
  height: 75px;
  width: 100%;
  margin-bottom: -75px;
  background-color: #ececec;
}

.feature-details {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: inherit;
  padding-top: 0;
  bottom: 0;
  height: 50px;
  margin-top 0;
  margin-right: -50px;
  margin-left: -50px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
}

@media (min-width: 550px) {
  .feature-details {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.feature-link-desc {
  line-height: 50px;
  font-size: 1.75rem;
  color: #f5f5f5;
  opacity: .8;
  float: left;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0;
  text-decoration: none;
}

.feature-link-desc:hover {
  opacity: 1;
}

.feature-link {}

.feature-inner-link {
  float: right;
  background-size: 3.0rem;
  height: 50px;
  width: 50px;
  margin-bottom: 0;
  opacity: .6;
}

.feature-external-link {
  float: right;
  background-image: url(../images/leave_page.svg);
  background-size: 3.0rem;
  height: 50px;
  width: 50px;
}

.nav-main-circle-container {
  width: inherit;
  height: 478px;
  position: fixed;
  overflow: visible;
}

.nav-main-faux-container {
  width: inherit;
  height: 75px;
  position: fixed;
}

input[type=checkbox]:checked~.nav-main-faux-container {
  height: 478px;
  animation-name: fade-content;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-content;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: fade-content;
  -moz-animation-duration: 1.3s;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: fade-content;
  -o-animation-duration: 1.3s;
  -o-animation-fill-mode: forwards;
}

@keyframes fade-content {
  0% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, .4);
  }
}

@-webkit-keyframes fade-content {
  0% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, .4);
  }
}

@-moz-keyframes fade-content {
  0% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, .4);
  }
}

@-o-keyframes fade-content {
  0% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, .4);
  }
}

#feature-project-2 {
  /*  background-color: rgba(45,60,201,.6);*/
  background-image: url(../images/tungsten-color_blank.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*  background-blend-mode: color-burn;*/
}

#feature-project-cover-2 {
  background-color: rgba(102, 0, 255, 1);
}



.dark-icon {
  background-image: url(../images/leave_page_onsite_dark.svg) !important;
  background-size: 30px 30px;
}

.feature-desc {
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 10px;
  opacity: .8;
}

.section-declaration {
  padding-top: 50px;
}

.projects-container {
  padding-bottom: 50px;
}

.photo-box {
  display: inline-block;
  margin: 0;
  min-height: 300px;
  background-color: #ececec;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.photo-box:hover {
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, .4);
  z-index: 5;
}

#photo-4 {
  height: 500px;
  background-image: url(../images/tobaccoPoster.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 0;
}

@media (min-width: 550px) {
  #photo-4 {
    margin-top: -100px;
  }
}

#photo-2 {
  height: 400px;
  background-image: url(../images/obama.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#photo-1 {
  height: 300px;
  background-image: url(../images/milkyway.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#photo-3 {
  top: 0;
  height: 400px;
  background-image: url(../images/city.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photos-container {
  padding-bottom: 50px;
}

.outside {
  background-image: url(../images/leave_page.svg);
}

.inside {
  background-image: url(../images/leave_page_onsite.svg);
  background-size: 35%;
}
.photo-inside {
  background-image: url(../images/download.svg);
}

.experiments-container {
  padding-bottom: 50px;
}

#feature-experiment-1 {
  background-image: url(../images/css-animations-blank.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.feature-outer-link {
  background-image: url(../images/leave_page.svg);
  background-size: 60%;
  background-position: center;
  float: right;
}

.footer-container {
  margin-top: 50px;
  width: 100%;
  bottom: 0;
  height: 200px;
  background-color: #ececec;
  z-index: 0;
}

.main-shadow {
  background-color: white;
  width: 100%;
  height: 50px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .1);
  z-index: 5;
  position: absolute;
}

.footer-content {
  height: 100px;
  padding-top: 50px;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.footer-desc {
  font-weight: 400;
  margin-top: 0;
}

.footer-title {
  padding-top: 20px;
  margin-bottom: 15px;
}

.footer-logo {
  height: 75px;
  width: 100px;
  margin: 0;
  margin-top: 25px;
  float: right;
  display: inline-block;
}

.footer-text {
  display: inline-block;
  float: left;
}

.footer-logo-container {
  display: none;
}

@media (min-width: 650px) {
  .footer-logo-container {
    height: 120px;
    display: inline-block;
    float: right;
    width: 100px;
  }
}

.menu-description {
  width: inherit;
  height: 100px;
  background-color: #ececec;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
}

.editor-title {
  margin: 0;
}

.editor-desc {
  margin-top: 5px;
  color: #95989a;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

#github-list-image {
  background-image: url(../images/github-circle.svg);
}

#home-list-image {
  background-image: url(../images/home.svg);
}

.main {
  z-index: -2;
}

.article-title-area {}

.article-author {
  color: white;
  line-height: 60px;
  font-size: 2rem;
  display: inline-block;
}

.article-date {
  display: inline-block;
  padding-left: 1rem;
  color: #e8e8e8;
}

.article-desc {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
}

article {
  padding-top: 40px;
  font-size: 2.0rem;
  top: 0;
}

.article-first-letter {
  float: left;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: -5px;
  margin-bottom: -20px;
  text-align: left;
  display: inline;
  font-size: 6.5rem;
}

.article-title-container {
  position: absolute;
  margin-top: 280px;
  text-align: center;
  width: 100%;
}

.article-title {
  color: white;
}

.light-text {
  color: #f5f5f5 !important;
}
.dark-text {
  color: #4a5861 !important;
}

.feature-title-centered {
  position: relative;
  height: 100%;
  margin-top: 60px;
  max-width: none;
  text-align: center;
}
@media (min-width: 650px) {
  .feature-title-centered {
    margin-top: 90px;
  }
}

.photo-box-download {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 5rem;
  float: right;
  background-size: 3.0rem;
  height: 50px;
  width: 50px;
  opacity: .8;
}
.photo-box-download:hover {
  opacity: 1;
}

.photo-box-description {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}
.photo-box-description:hover {
  background-color: rgba(0,0,0,.2);
  opacity: 1; 
}
