/*needs to be edited*/
@font-face {
            font-family: 'Open Sans';
            font-style: normal;
            src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff)              format('woff');
}
    	body{
			max-width:960px;
			background-color:#D83F4A;
            font-family: 'Open Sans', sans-serif;
			margin:0 auto;
            cursor:default;
		}
		.photo{
			padding:0;
			margin:0;
			position:relative; z-index: 2;
			width:100%;
			margin-top:-50px;
            background-image: url(photo/DGBack.jpg);
		}
		.top{
			margin:0;
			padding:0;	
			position:relative;
		}
    	span{
			font-size:36px;
			padding:0;
			margin:0;
			position:relative;
			bottom:-35px;
			z-index:10;
		}
    	.BlueDiv{
			max-width:960px;
			width:100%;
			background-color:#009245;
			height:9px;
			z-index:3;
			margin:0;
			padding:0;
			margin-top:-6px;
		}
		span a:hover{
			color:#D83F4A;
		}
		span a{
			font-style:normal;
            font-family: 'Open Sans', sans-serif;
            font-weight: 200;
			color:#009245;
			text-decoration:none;
            padding: 0;
            margin: 0;
            cursor: none;
		}
		main{
			margin:0;
			padding:0;
		}
		.info{
			max-width:960px;
			background-color:rgb(221,221,221,1.00);/*Just a Fallback for browsers*/
			background-color:rgba(192, 192, 192, 1);
			padding:0px;
			margin:0;
            z-index: 5;
		}
		h1{
			font-weight:lighter;
			font-size:48px;
			color:#534741;
			padding:0;
			margin:0;
		}
		h1 a{
			font-size:24px;
			text-decoration:none;
			color:#009245;
			padding:0;
			margin:0;
            cursor: none;
		}
		.more:hover{
			text-decoration:underline;	
		}
		.about{
			padding-left:60px;
			padding-top:5px;
			padding-right:5px;
			padding-bottom:20px;
			font-weight:lighter;
			color:#534741;
		}
		.about2{
			padding-left:60px;
			padding-top:10px;
			padding-right:5px;
			padding-bottom:20px;
			font-weight:lighter;
			color:#534741;
		}
		.about3{
            padding-left:60px;
			padding-top:10px;
			padding-right:5px;
			padding-bottom:20px;
			font-weight:lighter;
			color:#534741;
            padding-bottom:-20px;
            margin: 0;
            z-index: 5;
        }
		
		.line{
			margin:auto;
			width:30%;
			height:1px;
			background-color:#C1272D;
		}
        .bottom{
            margin: 0 auto;
            padding: 0;
            z-index: 1;
            padding-bottom: 20px;
        }
        button{
            max-width: 140px;
            min-width: 140px;
            max-height: 32px;
            min-height: 32px;
            border: none;
            background-color:#3FA9F5;
            border-radius: 0px; 
            text-align: left;
            color: #D8D8D8;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-left: 15px;
            margin-bottom: 10px;
            margin-top: 0;
            z-index: 1;
      }
        .light{
            background-color:rgba(221,221,221,1.00);
            color:#534741;
            z-index: 1;
            padding: 0;
        }
        .dark{
            background-color:#636363;
            color:#D8D8D8;
            z-index: 1;
            padding: 0;
        }
        .holiday{
            z-index: 1;
            padding: 0;
            color:#D8D8D8;
            background-color:#009245;
        }
        li{
            border-style: none;
            list-style-type: none;
            list-style: none;
        }
        .important{
            color:red;   
            text-decoration: underline;
        }
        #first{ 
            padding: 25px;
            height:44.5%;
            width:44.5%;
            margin: 0;
            margin-top:0;
            padding-top: 12px;
        }
        .showcase{
            margin: 0;
            padding: 0;
            display: inline;
        }
        .showcase2{
            margin: 0;
            padding: 0;
            display: inline;
            
        }